

@media screen and (max-width: 1300px) {
    .sc_mid .img_wrap img {
        height: auto;
        width: 45vw;
    }

    .sc_bottom .right ul li {
        width: calc((100% - 30px) / 2);
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .sc_bottom .right ul li:nth-child(2n-1) {
        margin-left: 0;
    }

    .sc_bottom .left {
        width: 40%;
    }

    .sc_bottom .right {
        width: 50%;
    }

}


/* 테블릿 */

@media screen and (max-width: 1024px) {
    .main_vis h2 {
        font-size: 80px;
    }
    .cursor {
        display: none;
    }

    .sc_top .list {
        max-width: 500px;
    }

    .sc_top .list .swiper-slide {
        height: 50vh;
    }

    .sc_top li .inner .title,.sc_top .list .swiper-slide:hover .inner .title {
        font-size: 42px;
    }

    .sc_top li .inner .txt-area .sub-txt {
        font-size: 16px;
    }

    .sc_mid .img_wrap {
        height: 130vh;
    }

    .sc_mid .img_wrap img {
        height: auto;
        width: 40vw;
    }

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: 'next';
    }

    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        content: 'prev';
    }

    .sc_top .swiper-button-next, .swiper-button-prev {
        width: 15px;
    }

    .sc_top .list .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: -10%;
    }

    .sc_top .list .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: -10%;
    }
    .modal-inner .txt-area {
        padding: 40px 0;
    }
    .modal-inner .txt-area .title {
        font-size: 30px;
    }
    .modal-inner .txt-area .info-txt {
        font-size: 15px;
    }
}

/*모바일*/

@media screen and (max-width: 768px) {
    .cursor {
        display: none;
    }

    .fix_menu {
        display: none;
    }

    header .m_header {
        display: block;
    }

    .main_vis h2::after {
        left: -25px;
    }

    .main_vis h2::before {
        left: -20px;
    }

    .sc_top {
        margin: 100px 0;
    }

    .sc_top .list {
        width: 90%;
    }

    .sc_top .list .swiper-slide {
        padding-bottom: 50px;
        height: 43vh;
    }
    .sc_top li .inner .title, .sc_top .list .swiper-slide:hover .inner .title {
        font-size: 36px;
    }

    .sc_top .list .swiper-slide span {
        margin-top: 10px;
    }

    .sc_top .list .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 15px;
    }


    .sc_top .list .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .sc_top .swiper-pagination {
        margin-top: 20px;
        font-size: 13px;
    }

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: 'next';
    }

    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        content: 'prev';
    }

    .sc_top .swiper-button-next, .swiper-button-prev {
        width: 15px;
    }

    .sc_mid {
        font-size: 35px;
    }
    .sc_mid p {
        padding: 0 50px;
    }
    .sc_mid .img_wrap {
        height: 120vh;
        top: 100%;
    }

    .sc_bottom .left {
        width: 100%;
    }

    .sc_bottom .right {
        width: 100%;
        margin-top: 40px;
    }

    .sc_bottom .right ul li {
        margin-bottom: 15px;
        width: calc((100% - 15px) / 2);
        margin-left: 15px;
    }
    .sc_bottom .left h2 {
        font-size: 7vw;
    }
    .sc_bottom .left a, .sc_bottom .left a b{
        font-size: 5vw;
    }
    .modal-inner {flex-flow: column; max-height: 90vh;
        height: 100%;
        padding: 50px;}
    .modal-inner .close-btn {
        top: 10px;
        right: 10px;
    }
    .modal-inner .img-area, .modal-inner .txt-area  {
        width: auto;
        height: 50%;
    }
    .modal-inner .txt-area {
        padding-top: 30px;
        border-top: 1px solid #ddd;
    }
}
@media screen and (max-width: 400px) {
    .loading .ld_wrap {
       font-size: 35px;
        height: 35px;
    }
}